

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Press+Start+2P&family=Space+Mono&family=VT323&display=swap');


/* Container Structure */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.5fr 1fr 1fr 0.25fr;
    gap: 0.25em 0.25em;
    grid-auto-flow: row;
    grid-template-areas: 
    "heading_txt header header"
    "img_1 logo_img img_2"
    "bio_script circle_img tech_specs"
    "bio_script catalogue catalougue"
    "footer footer footer";
}
.heading_txt {
    grid-row: heading_txt;
    background-color: black;
    height: 3rem;

    align-items: center;
    justify-content: center;
}
.header {
    grid-area: header;
    background-color: black;
    height: 3rem;
    width: 100%;
    display: flex
    align-items: center;
    float: right;    
}

.footer {
    grid-area: footer;
    background-color: black;
    height: 3rem;
    width: 100%;
}

.logo_img {
    grid-area: logo_img;
    background-color: brown;
}

.circle_img {
    grid-area: circle_img;
    background-color: black;
}

.bio_script {
    grid-area: bio_script;
    background-color: cyan;
}

.tech_specs {
    grid-area: tech_specs;
    background-color: darkmagenta;
}

.catalogue {
    grid-area: catalogue;
    background-color: darkred;
}

.img_2 {
    grid-area: img_2;
    background-color: deeppink;
}

.img_1 {
    grid-area: img_1;
    background-color: blue;
}

/* Header and Menu Styling */
#menu li {
    float:right;
    list-style-type: none;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
       
  }
#menu a {
    float: left;
    font-size: x-large;
    text-decoration: none;
    color: silver;
    font-family: 'VT323', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

#menu a:hover  {
    border-bottom: 1px solid #f1e3e3;
    color: rgb(109, 175, 230); 
}

 #heading_txt {
     object-fit: cover;
 }
 
 #socials li {
    list-style-type: none;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
 }

#socials a {
    color :rgb(109, 175, 230);
    text-decoration: none;
    font-size: x-large;
}