@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Press+Start+2P&family=Space+Mono&family=VT323&display=swap');


/* Container Structure */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 0;
}  

.grid_itm {
    padding-top: 5rem;
    max-width: 300px;
    border: 1rem;
    padding-bottom: 5rem;
}
.image {
    max-width: 100%;
}


.header {
    height: 3rem;
    background-color: black;
    clear: both;
    text-align: center;
    top: 0;
    position: fixed;
    width: 100%;
   }

.footer {
    background-color: black;
    clear: both;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}
/* Heading */
#heading_txt {
    font-family: Orbitron, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 4rem;
    width: 100%;
}
/* Style of grid items */
.grid_itm {
    font-family: Orbitron, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: whitesmoke;
    font-size: small;
}


/* Header and Menu Styling */
#menu li {
    margin: 30px;
    padding-top: 30px;
    display: inline;
    align-items: center;
}
#menu i {
    font-size: x-large;
    text-decoration: none;
    color: rgb(109, 175, 230)
}

 #menu i:hover  {
    border-bottom: 1px solid #f1e3e3;
    color: rgb(156, 134, 9);
}

#menu a {
    font-family: Orbitron, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    color: whitesmoke;
}

.footer li {
    margin-right: 50px;
    display: inline;
    align-items: center;
 }

.footer i {
    color :rgb(109, 175, 230);
    text-decoration: none;
    font-size: xx-large;
}

.footer i:hover  {
    border-bottom: 1px solid #f1e3e3;
    color: rgb(156, 134, 9);
}

/* GIF DIV */

.img_1 {
    border: 4px solid rgb(156, 134, 9);
}



/* Gallery Page */

#gallery {
clear: both;
line-height: 0;
column-count: 4;
column-gap: 0;
margin-top: 5rem;
margin-bottom: 6rem;
}

 #gallery > img {
    width: 100%;
    height: auto;
    border: solid 2px whitesmoke
}

/* Shop Page */

#shop_text {
    width: 100%;
    background-color: black;
    text-align: center;
    margin-top: 5rem;
}

#shop_text h1 {
    font-family: Orbitron, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: whitesmoke;
}

#shop_text p {
    font-family: Orbitron, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: whitesmoke;
}

/* Sonic GIF */
#sonic_gif {
   width: 100%;
   max-width: 300px;
   max-height: 300px;
   text-align: center;
   margin: auto;
}

/* Golden Axe GIF */
#gold_axe_gif {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
}

/* Sign up page  */
body sign_up.html {
    background-color: blue;
}

.form-section {
    background-color: black;
    width: 100%;
    text-align: center;
    padding-bottom: 5rem;
    margin: auto;
    font-family: Orbitron, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

#email {
    width: 200px;
}

#submit {
    margin: auto;
    border-radius: 50%;
    border: 2px solid black;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: auto;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;

}